venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pyzw
*.ipynb_checkpoints/
.pytest_cache/
.vscode/
.DS_Store
tests/__pycache__/
tests/.pytest_cache/
tests/*.pyc
tests/*.pyo
src/__pycache__/
src/.pytest_cache/
src/*.pyc
src/*.pyo
app/__pycache__/
app/.pytest_cache/
app/*.pyc
app/*.pyo
data/