<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Local P1 Mass</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    
    <!-- Load MathJax v3 with AMS package -->
    <script>
        window.MathJax = {
            loader: {load: ['[tex]/amscd']},
            tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']],  // Allow inline LaTeX
                displayMath: [['$$', '$$'], ['\\[', '\\]']],  // Allow display LaTeX
                packages: {'[+]': ['amscd']}
            },
            svg: {
                fontCache: 'global'
            }
        };
    </script>

    <script type="text/javascript" async 
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>






    <style>
        /* Style for the return button */
        .return-button {
            position: absolute;
            top: 10px;
            left: 10px;
            padding: 10px 15px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 14px;
            cursor: pointer;
            text-decoration: none;
            z-index: 1000;  /* Ensure it's on top */
            display: block;  /* Ensure it's not hidden */
        }
        .return-button:hover {
            background-color: #0056b3;
        }
        /* LaTeX equation container */
        .latex-container {
            text-align: center;
            font-size: 18px;
            margin-top: 20px;
        }

        .form_wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .container {
            margin: 0 auto;
            max-width: calc(100% - 2in); /* Ensures 1-inch margin on both sides */
            padding: 20px;
        }

        form {
            display: inline;
        }
    </style>
</head>
<body>
     <!-- Return Home Button -->
      <div id="form_wrapper">
        <form action="/local-P1" method="POST">
            <button type="submit" class="return-button">Go Back</a>
        </form>
    </div>


    <div class="container">
        <!--plotly object-->
        <div id="plot"></div>
        <br/>
        <hr/>
        <br/>
        <br/>

        <p>
            Up to the $\mathbb{C}$-action, every geometric stability condition is of the form $\sigma_{w} = ( \langle i_\ast \mathcal{O}_{\mathbb{P}^1}(n), i_\ast \mathcal{O}_{\mathbb{P}^1}(n-1)[1]\rangle , Z_{w} )$ 
            with $w \in \mathbb{C}$ strictly above the real line and
        </p>
        <p>
            $$
            Z_{w}( \mathcal{E}) := -\operatorname{ch}_{1}(\pi_\ast \mathcal{E}) + w\operatorname{ch}_{0}(\pi_\ast \mathcal{E})
            $$
        </p>
        <p>
            In particular, the quivery hearts $\mathcal{A}_n =  \langle i_\ast \mathcal{O}_{\mathbb{P}^1}(n), i_\ast \mathcal{O}_{\mathbb{P}^1}(n-1)[1]\rangle$ are the same for any $n \in \mathbb{Z}$ as long as $\phi_w(i_\ast \mathcal{O}_{\mathbb{P}^1}(n)) < \phi_w(i_\ast \mathcal{O}_{\mathbb{P}^1}(n-1)[1])$. The phases become equal precisely 
            when crossing the real axis, and any skyscraper sheaf supported on the rational curve destabilizes on the other side of the wall. This has the effect of applying some $\operatorname{Tw}_{i_\ast \mathcal{O}_{\mathbb{P}^1}(n)}$ to the stability condition, though the value of $n$ depends on which real interval $(n-1, n)$ was passed through. 
        </p>

        <p id="exposition-1">
            The mass of the spherical twist $\\operatorname{Tw}_{ i_{\\ast} \\mathcal{O}( line\_bundle\_1\_deg )}  i_{\\ast} \\mathcal{O}( line\_bundle\_2\_deg )$, as shown in the above figure, is the sum of the masses of its Harder-Narasimhan factors. For a single twist, we may simply rotate the defining triangle
        </p>

        <!-- LaTeX Equation Section -->
        <div class="latex-container">
            <p id="commutative-diagram">
                $$ 
                \\begin{CD}
                     i_{\\ast} \\mathcal{O}( line\_bundle\_2\_deg ) @>>> \\operatorname{Tw}_{ line\_bundle\_1\_deg } i_{\\ast} \\mathcal{O}( line\_bundle\_2\_deg ) @>>> i_{\\ast} \\mathcal{O}( line\_bundle\_1\_deg )^{\\oplus line\_bundle\_1\_dim}
                \\end{CD}
                $$
            </p>
        </div>

        <p id="exposition-2">

        </p>


    </div>

    <script>
        var plot_data = {{ plot_json | safe }};
        Plotly.newPlot('plot', plot_data.data, plot_data.layout);

        // Convert ChainComplex JSON into a JavaScript object
        var chainComplex = JSON.parse({{ chain_complex | tojson | safe }});
        console.log("Chain Complex Data:", chainComplex);

        var shift_vector = chainComplex["object1"]["shift_vector"];
        var dimension_vector = chainComplex["object1"]["dimension_vector"];
        var lb_1_deg = chainComplex["object1"]["sheaf_vector"][0];
        var lb_2_deg = chainComplex["object2"]["sheaf_vector"][0];

        if (shift_vector.length == 1 && shift_vector[0] == -1) {

            // Update the TikZ diagram dynamically
            document.getElementById("commutative-diagram").innerHTML = `$$ 
                    \\begin{CD}
                         i_{\\ast} \\mathcal{O}( ${lb_2_deg} ) @>>>  \\operatorname{Tw}_{ ${lb_1_deg} } i_{\\ast} \\mathcal{O}( ${lb_2_deg} ) @>>> i_{\\ast} \\mathcal{O}( ${lb_1_deg} )^{\\oplus ${dimension_vector[0]}}
                    \\end{CD}
                    $$`;
            
        } else if (shift_vector.length == 1) {

            // Update the TikZ diagram dynamically
            document.getElementById("commutative-diagram").innerHTML = `$$ 
                    \\begin{CD}
                         i_{\\ast} \\mathcal{O}( ${lb_2_deg} ) @>>> \\operatorname{Tw}_{ ${lb_1_deg} } i_{\\ast} \\mathcal{O}( ${lb_2_deg} ) @>>> i_{\\ast} \\mathcal{O}( ${lb_1_deg} )^{\\oplus ${dimension_vector[0]}}[ ${shift_vector[0] + 1} ]
                    \\end{CD}
                    $$`;

            document.getElementById("exposition-2").innerHTML = `
                Since $\\operatorname{Tw}_{ ${lb_1_deg} } i_{\\ast} \\mathcal{O}( ${lb_2_deg} )$ falls between two stable line bundles, its stability is completely determined by the order of the phases between the two line bundles. In particular, when 
                $\\phi_{w}(i_{\\ast} \\mathcal{O}( ${lb_2_deg} )) < \\phi_{w}(i_{\\ast} \\mathcal{O}( ${lb_1_deg} ) [${shift_vector[0] + 1}])$, the mass of the twist is given by the norm of the central charge
                $$
                m_{w} (\\operatorname{Tw}_{ ${lb_1_deg} } i_{\\ast} \\mathcal{O}( ${lb_2_deg} ) ) = |Z_{w}(\\operatorname{Tw}_{ ${lb_1_deg} } i_{\\ast} \\mathcal{O}( ${lb_2_deg} ) )  | = |Z_{w}(i_{\\ast} \\mathcal{O}( ${lb_2_deg} ) )  + Z_{w}(i_{\\ast} \\mathcal{O}( ${lb_1_deg} )^{\\oplus ${dimension_vector[0]}} [${shift_vector[0] + 1}]) |
                $$
                Otherwise, the two line bundles form a Harder-Narasimhan filtration so that
                $$
                m_{w} (\\operatorname{Tw}_{ ${lb_1_deg} } i_{\\ast} \\mathcal{O}( ${lb_2_deg} ) ) = |Z_{w}(i_{\\ast} \\mathcal{O}( ${lb_2_deg} ) )| + |Z_{w}(i_{\\ast} \\mathcal{O}( ${lb_1_deg} )^{\\oplus ${dimension_vector[0]}} [${shift_vector[0] + 1}]) |
                $$
                `;
            
        } else {

            //shift_vector is length two.
            
            if (shift_vector[0] == -1) {
                
                // Update the TikZ diagram dynamically
                document.getElementById("commutative-diagram").innerHTML = `$$ 
                        \\begin{CD}
                              i_{\\ast} \\mathcal{O}( ${lb_2_deg} ) @>>> \\operatorname{Tw}_{ ${lb_1_deg} } i_{\\ast} \\mathcal{O}( ${lb_2_deg} ) @>>> i_{\\ast} \\mathcal{O}( ${lb_1_deg} )^{\\oplus ${dimension_vector[0]}} \\oplus i_{\\ast} \\mathcal{O}( ${lb_1_deg} )^{\\oplus ${dimension_vector[1]}}[ ${shift_vector[1] + 1} ]
                        \\end{CD}
                        $$`;

            } else if (shift_vector[1] == -1) {
                // Update the TikZ diagram dynamically
                document.getElementById("commutative-diagram").innerHTML = `$$ 
                                        \\begin{CD}
                                         i_{\\ast} \\mathcal{O}( ${lb_2_deg} ) @>>> \\operatorname{Tw}_{ ${lb_1_deg} } i_{\\ast} \\mathcal{O}( ${lb_2_deg} ) @>>> i_{\\ast} \\mathcal{O}( ${lb_1_deg} )^{\\oplus ${dimension_vector[0]}}[ ${shift_vector[0]+1} ] \\oplus i_{\\ast} \\mathcal{O}( ${lb_1_deg} )^{\\oplus ${dimension_vector[1]}}
                                        \\end{CD}
                                        $$`;
            } else {
                // Update the TikZ diagram dynamically
                document.getElementById("commutative-diagram").innerHTML = `$$ 
                        \\begin{CD}
                        i_{\\ast} \\mathcal{O}( ${lb_2_deg} ) @>>> \\operatorname{Tw}_{ ${lb_1_deg} } i_{\\ast} \\mathcal{O}( ${lb_2_deg} ) @>>> i_{\\ast} \\mathcal{O}( ${lb_1_deg} )^{\\oplus ${dimension_vector[0]}}[ ${shift_vector[0] + 1} ] \\oplus i_{\\ast} \\mathcal{O}( ${lb_1_deg} )^{\\oplus ${dimension_vector[1]}}[ ${shift_vector[1] + 1} ]
                        \\end{CD}
                        $$`;

            }

            var min_shift = 0;
            var max_shift = 0;
            var dim_max_shift = 0;
            var dim_min_shift = 0;

            if (shift_vector[0] < shift_vector[1]) {
                min_shift = shift_vector[0];
                max_shift = shift_vector[1];
                dim_max_shift = dimension_vector[1];
                dim_min_shift = dimension_vector[0];
            } else {
                min_shift = shift_vector[1];
                max_shift = shift_vector[0];
                dim_max_shift = dimension_vector[0];
                dim_min_shift = dimension_vector[1];
            }

            if (min_shift == -1) {
                document.getElementById("exposition-2").innerHTML = `
                Since the last object in this triangle is a direct sum of stable objects of different phases, this object will never be stable. Thus, the stability of $\\operatorname{Tw}_{ i_{\\ast} \\mathcal{O}( ${lb_1_deg} )}  i_{\\ast} \\mathcal{O}( ${lb_2_deg} )$
                is determined by whether $\\phi_{w}(i_{\\ast}\\mathcal{O}(${ lb_2_deg }) )$ is smaller than $\\phi_{w}(i_{\\ast}\\mathcal{O}(${lb_1_deg} ) ) $. In the case that $\\operatorname{Tw}_{ i_{\\ast} \\mathcal{O}( ${lb_1_deg} )}  i_{\\ast} \\mathcal{O}( ${lb_2_deg} )$ is indeed stable, the mass is
            trivial to compute since it is simply the norm of the central charge 
            $$
            m_{w} (\\operatorname{Tw}_{ i_{\\ast} \\mathcal{O}( ${lb_1_deg} )}  i_{\\ast} \\mathcal{O}( ${lb_2_deg} ) ) = |Z_{w}(\\operatorname{Tw}_{ i_{\\ast} \\mathcal{O}( ${lb_1_deg} )}  i_{\\ast} \\mathcal{O}( ${lb_2_deg} ) )  |
            $$
            However, when $\\operatorname{Tw}_{ i_{\\ast} \\mathcal{O}( ${lb_1_deg} )}  i_{\\ast} \\mathcal{O}( ${lb_2_deg} ) $ destabilizes, determining the mass becomes much more subtle; in particular, one must distinguish between the cases of <br/><br/> (i) $\\phi_{w}(i_{\\ast} \\mathcal{O}( ${lb_2_deg} )) < \\phi_{w}(i_{\\ast} \\mathcal{O}( ${lb_1_deg} ) [${max_shift + 1}])$ 
            and <br/>(ii) $\\phi_{w}(i_{\\ast} \\mathcal{O}( ${lb_2_deg} )) > \\phi_{w}(i_{\\ast} \\mathcal{O}( ${lb_1_deg} ) [${max_shift + 1}])$. 

            <br/>
            <br/>
            There is a commuting diagram of the form
            $$
                \\begin{CD}
                    0 @>>> i_{\\ast} \\mathcal{O}(${lb_1_deg})^{\\oplus ${dim_max_shift}}[ ${max_shift + 1} ] \\\\
                    @VVV @VVV \\\\
                    \\operatorname{Tw}_{ i_{\\ast} \\mathcal{O}( ${lb_1_deg} )} i_{\\ast} \\mathcal{O}( ${lb_2_deg} ) @>>> i_{\\ast} \\mathcal{O}( ${lb_1_deg} )^{\\oplus ${dim_min_shift}} \\oplus i_{\\ast} \\mathcal{O}( ${lb_1_deg} )^{\\oplus ${dim_max_shift}}[ ${max_shift + 1} ] \\\\
                    @VVV @VVV \\\\
                    \\operatorname{Tw}_{ i_{\\ast} \\mathcal{O}( ${lb_1_deg} )} i_{\\ast} \\mathcal{O}( ${lb_2_deg} )@>>> i_{\\ast} \\mathcal{O}( ${lb_1_deg} )^{\\oplus ${dim_min_shift}} \\\\
                \\end{CD}
            $$
            <br/>
            <br/>
            By (TR4), we have that the co-cone (or fibre) of the bottom morphism — call it $C$ — fits into a triangle of the form
            $$
            \\begin{CD}
                i_{\\ast} \\mathcal{O}( ${lb_2_deg}) @>>> C @>>> i_{\\ast} \\mathcal{O}( ${lb_1_deg} )^{\\oplus ${dim_max_shift}}[ ${max_shift + 1} ]
            \\end{CD}
            $$
            When $\\phi_{w}(i_{\\ast} \\mathcal{O}( ${lb_2_deg})) < \\phi_{w}(i_{\\ast} \\mathcal{O}( ${lb_1_deg} )[ ${max_shift + 1} ])$, the object $C$ is stable and thus a semi-stable factor, so that
            $$
                m_{w} (\\operatorname{Tw}_{ i_{\\ast} \\mathcal{O}( ${lb_1_deg} )}  i_{\\ast} \\mathcal{O}( ${lb_2_deg} ) ) = |Z_{w}( i_{\\ast} \\mathcal{O}( ${lb_1_deg} )^{\\oplus ${dim_max_shift}} [${max_shift + 1}] )  | + | Z_{w}( i_{\\ast} \\mathcal{O} (${lb_2_deg}) ) + Z_{w}(i_{\\ast } \\mathcal{O}( ${lb_1_deg} )^{\\oplus ${dim_min_shift}}  )  |
            $$
                `;
            } else {
                document.getElementById("exposition-2").innerHTML = `
            Since the last object in this triangle is a direct sum of stable objects of different phases, this object will never be stable. Thus, the stability of $\\operatorname{Tw}_{ i_{\\ast} \\mathcal{O}( ${lb_1_deg} )}  i_{\\ast} \\mathcal{O}( ${lb_2_deg} )$
            is determined by whether $\\phi_{w}(i_{\\ast}\\mathcal{O}(${ lb_2_deg }) )$ is smaller than $\\phi_{w}(i_{\\ast} \\mathcal{O}(${lb_1_deg} )[ ${ min_shift + 1 } ] ) $. In the case that $\\operatorname{Tw}_{ i_{\\ast} \\mathcal{O}( ${lb_1_deg} )}  i_{\\ast} \\mathcal{O}( ${lb_2_deg} )$ is indeed stable, the mass is
            trivial to compute since it is simply the norm of the central charge 
            $$
            m_{w} (\\operatorname{Tw}_{ i_{\\ast} \\mathcal{O}( ${lb_1_deg} )}  i_{\\ast} \\mathcal{O}( ${lb_2_deg} ) ) = |Z_{w}(\\operatorname{Tw}_{ i_{\\ast} \\mathcal{O}( ${lb_1_deg} )}  i_{\\ast} \\mathcal{O}( ${lb_2_deg} ) )  |
            $$
            However, when $\\operatorname{Tw}_{ i_{\\ast} \\mathcal{O}( ${lb_1_deg} )}  i_{\\ast} \\mathcal{O}( ${lb_2_deg} ) $ destabilizes, determining the mass becomes much more subtle; in particular, one must distinguish between the cases of<br/><br/> (i) $\\phi_{w}(i_{\\ast} \\mathcal{O}( ${lb_2_deg} )) < \\phi_{w}(i_{\\ast} \\mathcal{O}( ${lb_1_deg} ) [${max_shift + 1}])$ 
            and<br/> (ii) $\\phi_{w}(i_{\\ast} \\mathcal{O}( ${lb_2_deg} )) > \\phi_{w}(i_{\\ast} \\mathcal{O}( ${lb_1_deg} ) [${max_shift + 1}])$.  
            <br/>
            <br/>
            There is a commuting diagram of the form
            $$
                \\begin{CD}
                    0 @>>> i_{\\ast} \\mathcal{O}(${lb_1_deg})^{\\oplus ${dim_max_shift}}[ ${max_shift + 1} ] \\\\
                    @VVV @VVV \\\\
                    \\operatorname{Tw}_{ i_{\\ast} \\mathcal{O}( ${lb_1_deg} )} i_{\\ast} \\mathcal{O}( ${lb_2_deg} ) @>>> i_{\\ast} \\mathcal{O}( ${lb_1_deg} )^{\\oplus ${dim_min_shift}}[ ${min_shift + 1} ] \\oplus i_{\\ast} \\mathcal{O}( ${lb_1_deg} )^{\\oplus ${dim_max_shift}}[ ${max_shift + 1} ] \\\\
                    @VVV @VVV \\\\
                    \\operatorname{Tw}_{ i_{\\ast} \\mathcal{O}( ${lb_1_deg} )} i_{\\ast} \\mathcal{O}( ${lb_2_deg} )@>>> i_{\\ast} \\mathcal{O}( ${lb_1_deg} )^{\\oplus ${dim_min_shift}}[ ${min_shift + 1} ] \\\\
                \\end{CD}
            $$
            <br/>
            <br/>
            By (TR4), we have that the co-cone (or fibre) of the bottom morphism — call it $C$ — fits into a triangle of the form
            $$
            \\begin{CD}
                i_{\\ast} \\mathcal{O}( ${lb_2_deg}) @>>> C @>>> i_{\\ast} \\mathcal{O}( ${lb_1_deg} )^{\\oplus ${dim_max_shift}}[ ${max_shift + 1} ]
            \\end{CD}
            $$
            When $\\phi_{w}(i_{\\ast} \\mathcal{O}( ${lb_2_deg})) < \\phi_{w}(i_{\\ast} \\mathcal{O}( ${lb_1_deg} )[ ${max_shift + 1} ])$, the object $C$ is stable and thus a semi-stable factor, so that
            $$
                m_{w} (\\operatorname{Tw}_{ i_{\\ast} \\mathcal{O}( ${lb_1_deg} )}  i_{\\ast} \\mathcal{O}( ${lb_2_deg} ) ) = |Z_{w}( i_{\\ast} \\mathcal{O}( ${lb_1_deg} )^{\\oplus ${dim_max_shift}} [${max_shift + 1}] )  | + | Z_{w}( i_{\\ast} \\mathcal{O} (${lb_2_deg}) ) + Z_{w}(i_{\\ast } \\mathcal{O}( ${lb_1_deg} )^{\\oplus ${dim_min_shift}} [${min_shift + 1}] )  |
            $$
            `;
            }
            

        }

    document.getElementById("exposition-1").innerHTML = `The mass of the spherical twist $\\operatorname{Tw}_{ i_{\\ast} \\mathcal{O}( ${lb_1_deg} )}  i_{\\ast} \\mathcal{O}( ${lb_2_deg} )$, as shown in the above figure, is the sum of the masses of its Harder-Narasimhan factors. For a single twist, we may simply use the defining triangle`;

    </script>

     
</body>
</html>
